body {
  margin: 1em;
}

form>* {
  margin: .25em;
}

input {
  padding: 4px;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 600px;
}

.items-container > li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.items-container > li > div {
  padding: .15em;
}